<!-- Publications and Links Section -->
<section class="pubs" id="pubs">
  <div class="container">
  
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications and Links</h2>
        <hr class="star-orange">
      </div>


      <h3>Published Work</h3>
      <a href="https://sdtimes.com/softwaredev/creating-a-culture-of-documentation/">Creating a culture of documentation</a> - SD Times, August 2023 <br />
      <a href="https://thenewstack.io/your-app-will-fail-if-your-documentation-is-bad/">Your App Will Fail if Your Documentation Is Bad</a> - The New Stack, August 2023<br />
      <a href="https://thenewstack.io/bad-documentation-bad-documentation/">Bad Documentation, Bad Documentation</a> - The New Stack, September 2023<br />
      <br />

      <b>Lagoon Blog</b><br />
      <a href="https://dev.to/uselagoon">https://dev.to/uselagoon</a><br />
      <br />

      <b>Lagoon Documentation</b><br />
      <a href="https://docs.lagoon.sh/">https://docs.lagoon.sh/</a><br />
      <br />
      
    <b>amazee.io Blog</b><br />
    <a href="https://www.amazee.io/blog/post/a-day-in-the-life-inside-lagoon-a-step-by-step-tutorial">A day in the life inside Lagoon: A step-by-step tutorial demo</a> February 2023<br />
    <a href="https://www.amazee.io/blog/post/what-are-the-benefits-of-using-open-source-software">What are the benefits of using open source software? And other questions with amazee.io</a> November 2022<br />
    <a href="https://www.amazee.io/blog/post/a-new-home-and-platform-for-our-lagoon-documentation">A new home (and platform) for our Lagoon documentation</a> December 2020<br />
    <br /><br />
    <b>Code Standards Series</b><br />
    <ol>
    <li><a href="https://chromatichq.com/blog/drupal-code-standards-what-are-they">Drupal Code Standards: What Are They?</a></li>
    <li><a href="https://chromatichq.com/blog/drupal-code-standards-how-do-we-implement-them">Drupal Code Standards: How Do We Implement Them?</a></li>
    <li><a href="https://chromatichq.com/blog/drupal-code-standards-formatting">Drupal Code Standards: Formatting</a></li>
    <li><a href="https://chromatichq.com/blog/drupal-code-standards-documentation">Drupal Code Standards: Documentation</a></li>
    <li><a href="https://chromatichq.com/blog/drupal-code-standards-t-function">Drupal Code Standards: The t() function</a></li>
    <li><a href="https://chromatichq.com/blog/drupal-code-standards-object-oriented-coding-drupal-8">Drupal Code Standards: Object Oriented Coding & Drupal 8</a></li>
    <li><a href="https://chromatichq.com/blog/drupal-code-standards-twig-drupal-8">Drupal Code Standards: Twig in Drupal 8</a></li>
  </ol>

    <a href="https://drupalize.me/series/coding-standards-drupal">Drupalize.me series</a><br /><br />
    
    <a href="https://www.drupaldiversity.com/docs/participant-guidelines">Drupal Diversity & Inclusion Participation Guidelines</a><br />
    <a href="https://www.drupaldiversity.com/docs/moderation-guidelines">Drupal Diversity & Inclusion Moderation Guidelines</a><br />
    <br /><br />
    <h3>Misc</h3>
    Drupal.org profile: <a href="https://www.drupal.org/u/aburke626">https://www.drupal.org/u/aburke626</a><br />
    <br />
    An interview I did with OpenSource.com: <a href="https://opensource.com/article/19/10/drupals-diversity-initiatives">https://opensource.com/article/19/10/drupals-diversity-initiatives</a>
    <br />  <br />
    <a href="https://www.talkingdrupal.com/217">Talking Drupal Podcast on Drupal Diversity & Inclusion</a>
    <br /><br />
    Here is <a href="https://www.acquia.com/blog/women-drupal-community-aburke626">an article about me from Acquia's Women in Drupal Series</a>.
    <br /><br />
    Two articles about the cat rescue I started years ago that's still going strong: <a href="https://temple-news.com/slumcat-millionaires/">Slumcat millionaires</a>, <a href="https://aroundmainline.com/living/philadelphias-super-pet-adoption-day.html">Philadelphia’s Super Pet Adoption Day</a>
    <br /><br />
    Webby Award for work done at Saint Joseph's University: <a href="https://www.webbyawards.com/winners/2013/web/general-website/school-university/saint-josephs-university-web-relaunch/?/">Webby Award - Web Relaunch</a>
    
    </div> 
  </div>
</section>
