<!-- Talks and more Section -->
<section class="talks" id="talks">
  <div class="container">
  
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Talks</h2>
        <hr class="star-purple">
        Below is a list of all of the talks I have given, by date, with links to the session and video where available. 
      </div>

      <h3>2024</h3>
      <table><tbody>
        <tr>
          <td>AI is here, and it's everywhere. How do we know what's real and what's not?</td>
          <td>Drupal Camp NJ</td>
          <td>March 2024</td>
          <td><a href="https://www.drupalcampnj.org/session/ai-here-and-its-everywhere-how-do-we-know-whats-real-and-whats-not">[session]</a></td>
          <td><a href="https://www.youtube.com/watch?v=ldFhy0zj6sU">[video]</a></td>
        </tr>
        <tr>
          <td>PetOps - Keeping Your Pets Safe with Technology (Sponsored Lightning Talk)</td>
          <td>DrupalCon Portland</td>
          <td>May 2024</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Webinar: The Critical Role of Documentation in Open Source Success</td>
          <td>Mirantis Tech Talk</td>
          <td>May 2024</td>
          <td><a href="https://www.mirantis.com/labs/learning/techtalks/the-critical-role-of-documentation-in-open-source-success/">[session]</a></td>
          <td><a href="https://www.youtube.com/watch?v=nvLA8x1jtUk">[video]</a></td>
        </tr>
      </tbody>
      </table>


<h3>2023</h3>
<table><tbody>
  <tr>
    <td>Creating a Culture of Documentation</td>
    <td>DrupalCamp NJ</td>
    <td>March 2023</td>
    <td><a href="https://2023.drupalcampnj.org/sessions/creating-culture-documentation">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=kFsu6ct8l_0">[video]</a></td>
  </tr>
  <tr>
    <td>Creating a Culture of Documentation</td>
    <td>KubeCon EU</td>
    <td>April 2023</td>
    <td><a href="https://kccnceu2023.sched.com/event/aa028b4181617bedca7864c622c6099f">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=IJjQ5yPFwHw">[video]</a></td>
  </tr>
  <tr>
    <td>Creating a Culture of Documentation</td>
    <td>DrupalSouth</td>
    <td>May 2023</td>
    <td><a href="https://drupalsouth.org/events/drupalsouth-wellington-2023/schedule/2723">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=8SRf6n-xaw8">[video]</a></td>
  </tr>
  <tr>
    <td>Protecting your work-life balance on a global 24/7 team</td>
    <td>DrupalCon Pittsburgh</td>
    <td>June 2023</td>
    <td><a href="https://events.drupal.org/pittsburgh2023/session/protecting-your-work-life-balance-global-247-team">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=EbbWf3qZIEE&list=PLpeDXSh4nHjTZrlCUtl_xp87F3plT7czE&index=56">[video]</a></td>
  </tr>
</tbody>
</table>

<h3>2022</h3>
<table><tbody>
  <tr>
    <td>Documentation as a deliverable: the business case for documentation</td>
    <td>DrupalCon Portland</td>
    <td>April 2022</td>
    <td></td>
    <td><a href="https://www.youtube.com/watch?v=LGtBHtezJE8">[video]</a></td>
  </tr>
  <tr>
    <td>Kicking ass in your career while chronic illness is kicking your ass</td>
    <td>DDI Camp</td>
    <td>September 2022</td>
    <td><a href="https://www.drupaldiversity.com/initiatives/ddi-camp-2022/program">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=5L1wwstn-UI">[video]</a></td>
  </tr>
  <tr>
    <td>The struggle of getting an open-source community off the ground</td>
    <td>DrupalCon Prague</td>
    <td>September 2022</td>
    <td><a href="https://events.drupal.org/prague2022/sessions/struggle-getting-open-source-community-ground">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=dykh6-aaCE4&list=PLpeDXSh4nHjRK_6I7HVLCw8k_ZTopYv5i&index=54">[video]</a></td>
  </tr>
  <tr>
    <td>The struggle of getting an open-source community off the ground</td>
    <td>SeaGL</td>
    <td>November 2022</td>
    <td><a href="https://osem.seagl.org/conferences/seagl2022/program/proposals/889">[session]</a></td>
    <td><a href="https://seagl.org/archive/2022/the-struggle-of-getting-an-open-source-community-off-the-ground">[video]</a></td>
  </tr>
</tbody>
</table>

<h3>2021</h3>
<table><tbody>
  <tr>
    <td>Documenting an Agile Team - how to keep up</td>
    <td>Devops Days Texas</td>
    <td>March 2021</td>
    <td><a href="https://devopsdays.org/events/2021-texas/program/alanna-burke/">[session]</a></td>
    <td></td>
  </tr>
  <tr>
    <td>Documenting an Agile Team - how to keep up</td>
    <td>DrupalCon North America</td>
    <td>April 2021</td>
    <td><a href="https://events.ringcentral.com/events/drupalcon-north-america-2021#schedule">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=SrbRfmHaLPo">[video]</a></td>
  </tr>
  <tr>
    <td>Public speaking in the virtual era: conquer your fears</td>
    <td>DrupalFest</td>
    <td>April 2021</td>
    <td><a href="https://events.drupal.org/northamerica2021/sessions/public-speaking-virtual-era-conquer-your-fears">[session]</a></td>
    <td></td>
  </tr>
  <tr>
    <td>Documenting an Agile Team - how to keep up</td>
    <td>Deserted Island DevOps</td>
    <td>April 2021</td>
    <td><a href="https://desertedislanddevops.com/agenda-2021/#alannaburke">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=HabSOm1Pirw&list=PLVUQjiv8GtwKVaudXZxs0DWUXYaLC6l0c&index=6">[video]</a></td>
  </tr>
  <tr>
    <td>Documenting an Agile Team - how to keep up</td>
    <td>Devops Days Kyiv</td>
    <td>April 2021</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Taking A Project Public - The History of Lagoon (Featured Track Speaker)</td>
    <td>DrupalCon Europe</td>
    <td>October 2021</td>
    <td><a href="https://events.drupal.org/europe2021/sessions/taking-project-public-history-lagoon">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=TIGqY0RzE5Y">[video]</a></td>
  </tr>
</tbody>
</table>

<h3>2020</h3>
<table><tbody>
  <tr>
    <td>Judging a book by its cover - how inclusive is your community?</td>
    <td>DrupalCamp NJ</td>
    <td>January 2020</td>
    <td><a href="https://2023.drupalcampnj.org/sessions/judging-book-its-cover-how-inclusive-your-community">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=bhnsm5thw6E">[video]</a></td>
  </tr>
  <tr>
    <td>Beyond the Screen Reader: Humanizing Accessibility</td>
    <td>A11yTalks</td>
    <td>February 2020</td>
    <td><a href="https://a11ytalks.com/posts/2020-feb">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=Z8RPO13N214&t=1s">[video]</a></td>
  </tr>
  <tr>
    <td>Writing Inclusive Documentation</td>
    <td>CMS Philly</td>
    <td>May 2020</td>
    <td><a href="https://cmsphilly.org/talks/writing-inclusive-documentation">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=q9MmR6YPTDE">[video]</a></td>
  </tr>
  <tr>
    <td>Drupal Diversity & Inclusion: Volunteer-led strategies for helping the Drupal community</td>
    <td>DrupalCon Global</td>
    <td>July 2020</td>
    <td><a href="https://events.drupal.org/global2020/sessions/volunteer-led-strategies-helping-drupal-community">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=JIv6nbf9lUI&list=PLpeDXSh4nHjQzENjcpLo6nO3A0AkBdF8w&index=128">[video]</a></td>
  </tr>
  <tr>
    <td>Documentation is like a plant - you need to tend to it!</td>
    <td>Flyover Camp</td>
    <td>September 2020</td>
    <td></td>
    <td><a href="https://www.youtube.com/watch?v=WYdmioDFdCE&list=PLwZrRQnQbOZsxBSvXVyd0ZMyoiZPgzipY&index=15">[video]</a></td>
  </tr>
  <tr>
    <td>Drupal Diversity & Inclusion: Making a better community, better software, and a better world</td>
    <td>BADCamp</td>
    <td>October 2020</td>
    <td><a href="https://2020.badcamp.org/session/making-better-community-better-software-and-better-world">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=kuyU8cpgB-E">[video]</a></td>
  </tr>
  <tr>
    <td>Documentation is like a plant - you need to tend to it!</td>
    <td>BADCamp</td>
    <td>October 2020</td>
    <td><a href="https://2020.badcamp.org/session/documentation-plant-you-need-tend-it">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=3X-Fh3TyXMg">[video]</a></td>
  </tr>
  <tr>
    <td>Documentation is like a plant - you need to tend to it!</td>
    <td>DrupalGov/DrupalSouth</td>
    <td>November 2020</td>
    <td><a href="https://drupalsouth.org/events/drupalgov-2020/sessions/documentation-plant-you-need-tend-it">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=JMMobFnK-dU&list=PL31TzQhFjH2I4ARSf35NFKGmUWp0H_0AN&index=10">[video]</a></td>
  </tr>
  <tr>
    <td>Writing Inclusive Documentation (Featured Track Speaker)</td>
    <td>DrupalCon Europe</td>
    <td>December 2020</td>
    <td><a href="https://events.drupal.org/europe2020/sessions/writing-inclusive-documentation.html">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=RBrt4dVnBfw&list=PLpeDXSh4nHjTP7vRC6LCak9adK2yp1P5S&index=131">[video]</a></td>
  </tr>
</tbody>
</table>

<h3>2019</h3>
<table><tbody>
  <tr>
    <td>Beyond the Screen Reader - Humanizing Accessibility</td>
    <td>DrupalCon Seattle</td>
    <td>April 2019</td>
    <td><a href="https://events.drupal.org/seattle2019/sessions/beyond-screen-reader-humanizing-accessibility">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=qjO1oRBQtus&list=PLpeDXSh4nHjRa80iIpiO7iFncC9nO5l6f&index=21">[video]</a></td>
  </tr>
  <tr>
    <td>Diversity & Inclusion: Building a Stronger Drupal Community</td>
    <td>DrupalCon Seattle</td>
    <td>April 2019</td>
    <td><a href="https://events.drupal.org/seattle2019/sessions/diversity-inclusion-building-stronger-drupal-community">[session]</a></td>
    <td></td>
  </tr>
  <tr>
    <td>Judging a book by its cover - how inclusive is your community?</td>
    <td>DrupalCon Amsterdam</td>
    <td>October 2019</td>
    <td><a href="https://drupal.kuoni-congress.info/2019/program/abstract/458">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=o5RKrQQ9Jyk&list=PLpeDXSh4nHjSZET8xL2RyK3_2WeXxyWkY&index=102">[video]</a></td>
  </tr>
  <tr>
    <td>Drupal Diversity & Inclusion: Volunteer-led strategies for helping the Drupal community</td>
    <td>DrupalCon Amsterdam</td>
    <td>October 2019</td>
    <td><a href="https://drupal.kuoni-congress.info/2019/program/abstract/228">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=FoolIDaFQIc&list=PLpeDXSh4nHjSZET8xL2RyK3_2WeXxyWkY&index=81">[video]</a></td>
  </tr>
</tbody>
</table>

<h3>2018</h3>
<table><tbody>
  <tr>
    <td>Git 101 - Intro to Git</td>
    <td>Drupaldelphia</td>
    <td>April 2018</td>
    <td></td>
    <td><a href="https://www.youtube.com/watch?v=K5Z1tjy9sAE">[video]</a></td>
  </tr>
  <tr>
    <td>Women In the Tech Workplace</td>
    <td>DrupalCon Nashville</td>
    <td>April 2018</td>
    <td><a href="https://events.drupal.org/nashville2018/sessions/women-tech-workplace">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=dP4_JwgWnYw"[video]></a></td>
  </tr>
  <tr>
    <td>Community Convos: Governance Retrospective</td>
    <td>DrupalCon Nashville</td>
    <td>April 2018</td>
    <td><a href="https://events.drupal.org/nashville2018/sessions/community-convos-governance-retrospective">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=Vedh8XjFCs4&list=PLpeDXSh4nHjRRbzQW5D6PQVFPrTuh5y8m&index=100">[video]</a></td>
  </tr>
  <tr>
    <td>Community Convos: Drupal Diversity & Inclusion</td>
    <td>DrupalCon Nashville</td>
    <td>April 2018</td>
    <td><a href="https://events.drupal.org/nashville2018/sessions/community-convos-drupal-diversity-inclusion">[session]</a></td>
    <td><a href="https://www.youtube.com/watch?v=faTB7YcJ4ZY&list=PLpeDXSh4nHjRRbzQW5D6PQVFPrTuh5y8m&index=124">[video]</a></td>
  </tr>
</tbody>
</table>

<h3>2017</h3>
<table><tbody>
  <tr>
    <td>Code Standards: It's Okay to be Yourself, But Write Your Code Like Everyone Else</td>
    <td>DrupalCon Baltimore</td>
    <td>April 2017</td>
    <td><a href="https://events.drupal.org/baltimore2017/sessions/code-standards-its-okay-be-yourself-write-your-code-everyone-else">[session]</a></a></td>
    <td><a href="https://www.youtube.com/watch?v=-UffydFohKE&list=PLpeDXSh4nHjRbDdwHEBRHItfnjrJ8kEDK&index=111">[video]</a></td>
  </tr>
  <tr>
    <td>Work/Life Balance - You CAN Have It All!</td>
    <td> DrupalCon Baltimore</td>
    <td>April 2017</td>
    <td><a href="https://events.drupal.org/baltimore2017/sessions/worklife-balance-you-can-have-it-all">[session]</a></td>
    <td></td>
  </tr>
</tbody>
</table>


<h3>2016</h3>
<table><tbody>
  <tr>
    <td>Work/Life Balance - You CAN Have It All!</td>
    <td>SANDcamp</td>
    <td>February 2016</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Work/Life Balance - You CAN Have It All!</td>
    <td>Baltimore Drupal Camp</td>
    <td>October 2016</td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

  </div>
</section>
